body {
  font-family: Courier New, Helvetica Neue, sans-serif;
  background: #d9ae94;
  margin: 0px;
  min-width: 560px;
  padding: 0px;
}

header {
  background: #f5cac3;
  height: 100px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

header a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

nav li {
  display: inline-block;
  text-align: right;
}

section {
  background-image: url("images/texture.jpeg");
  background-size: cover;
  background: #b5838d;
  margin: 0px;
  padding: 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.contact-section {
  font-weight: bold;
  text-align: left;
}

.contact-section input {
  margin-left: 70px;
}

form {
  width: 240px;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
}

footer {
  background: #6d6875;
  margin: 0px;
  padding: 30px;
  text-align: center;
  height: 100px;
}
